## Exercícios Aulas 1 a 4
Prof Roger Rendón

In [2]:
#Imports
import numpy as np
import pandas as pd

#### Numpy.

1. Gere uma array randomica de 10 elementos com duas dimensões, e explore o array (ndim, dtype e shape).

In [4]:
array_rand = np.random.randint(0,10,size = 10).reshape(2,-1)
# array_rand = (np.random.random_sample((5,2))*11).astype('int')
array_rand

array([[1, 2, 8, 8, 4],
       [9, 9, 1, 2, 1]])

In [6]:
print(f"Número de dimensões: {array_rand.ndim}")
print(f"Dtype: {array_rand.dtype}")
print(f"Shape: {array_rand.shape}")

Número de dimensões: 2
Dtype: int64
Shape: (2, 5)

2. Verifique os elementos da array e veja se tem valores NaN e transforme os valores NaN pra número

In [19]:
a =  np.array([1, 0, np.nan, 6.0])
a

array([ 1.,  0., nan,  6.])

In [20]:
print("True se há NaN no array, False caso contrário")
print(any(np.isnan(a)))

True se há NaN no array, False caso contrário
True

In [21]:
a = np.nan_to_num(a)
a

array([1., 0., 0., 6.])

3. Gere duas arrays de uma dimensão com 10 elementos cada, valores entre 1 e 50. 

    3a. Faça comparações entre as duas matrizes ( >, <, equal)

In [22]:
array_1 = np.random.randint(1,50,size = 10)
array_2 = np.random.randint(1,50,size = 10)
print(f"Array 1: {array_1}")
print(f"Array 2: {array_2}")

Array 1: [26 39 21  2 17  5 15  1  2  7]
Array 2: [26 48 10  6  5 40 33 22 28 39]

In [23]:
eh_maior = array_1 > array_2
eh_menor = array_1 < array_2
eh_igual = array_1 == array_2

print(f"É maior: {eh_maior}")
print(f"É menor: {eh_menor}")
print(f"É igual: {eh_igual}")

É maior: [False False  True False  True False False False False False]
É menor: [False  True False  True False  True  True  True  True  True]
É igual: [ True False False False False False False False False False]

In [24]:
print(f"Elementos maiores em arr1 do que arr2: {array_1[eh_maior]}")
print(f"Elementos menores em arr1 do que arr2: {array_1[eh_menor]}")
print(f"Elementos iguais em ambos: {array_1[eh_igual]}")

Elementos maiores em arr1 do que arr2: [21 17]
Elementos menores em arr1 do que arr2: [39  2  5 15  1  2  7]
Elementos iguais em ambos: [26]

4. Faça uma array com arange de 12 elementos e de o reshape correto nele.

    4a. Salve sua array em um arquivo de texto (Dica = Save Text and Headers)

In [ ]:
vetor_c = np.arange(0,24,2)

In [38]:
# vetor_c = np.arange(0,24,2)
array_12 = np.arange(12).reshape(3,4)
np.savetxt('array.txt', array_12, fmt = '%d', header='col1,col2,col3,col4', comments = "", delimiter = ",")

In [39]:
df1 = pd.read_csv('array.txt', sep=",")
df1

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11

5. Carregue o arquvio da array anterior e faça uma subseleções:

    5a. Elemento na linha 1 coluna 1 

    5b. Elementos na coluna 2

    5c. Elementos na linha 2 e escolha o maximo valor dessa seleção
    
    5d. Uma array nova com o resultado de uma seleção complexa ex. (arr1 > 3) & (arr1 % 2 == 0)

In [44]:
load_arr = np.loadtxt('array.txt', delimiter = ',', skiprows = 1)
load_arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [50]:
print(f"Elemento na linha 1 e coluna 1: {load_arr[1,1]}")
print(f"Elemento na coluna 2: {load_arr[:,2]}")
print(f"Elemento máximo na linha 2: {load_arr[2,:].max()}")

selecao = load_arr[(load_arr > 3) & (load_arr % 2 == 0)]
print(f"Resultado da seleção: {selecao}")

Elemento na linha 1 e coluna 1: 5.0
Elemento na coluna 2: [ 2.  6. 10.]
Elemento máximo na linha 2: 11.0
Resultado da seleção: [ 4.  6.  8. 10.]

6. Gere duas arrays em formato de matriz e faça um dot product nela

In [51]:
#usando np.matrix
matrix1 = np.matrix(np.random.randint(0,4,size = 4).reshape(2,2))
matrix2 = np.matrix(np.random.randint(0,4,size = 4).reshape(2,2))
print(matrix1)
print(matrix2)

print("Produto")
print(matrix1*matrix2)

[[2 3]
 [1 3]]
[[3 0]
 [3 0]]
Produto
[[15  0]
 [12  0]]

In [54]:
#usando np.array
matrix_1 = np.random.randint(0,4,size = 4).reshape(2,2)
matrix_2 = np.random.randint(0,4,size = 4).reshape(2,2)
print(matrix_1)
print(matrix_2)

print("Produto")
print(np.matmul(matrix_1,matrix_2))

[[1 2]
 [2 0]]
[[2 3]
 [1 1]]
Produto
[[4 5]
 [4 6]]

#### Pandas

1. Faça uma pandas Series com valores inteiros randomicos de tamanho 30 de numeros entre 5 e 15

    1a. Divida sua serie em duas partes e gere duas series novas 

    1b. Adicione 5 valores a cada serie e mantenha os dois elementos como series

    1c. Conte as aparições de cada elemento da Serie

    1d. Faça comparações booleanas entre as duas series

    1e. Junte as duas series em um dataframe

    1f. Rename nas colunas utilizando inplace 
    
    1g. Explore seu novo DataFrame

In [57]:
#1
serie = pd.Series(np.random.randint(5,16,size=30))
print(serie)

#1a
serie1 = serie[:15].copy()
serie2 = serie[15:].copy().reset_index(drop=True)
print(serie1)
print(serie2)

0     14
1      5
2     10
3     10
4     10
5     15
6     11
7      5
8     12
9      5
10     9
11     6
12     8
13    15
14    14
15     5
16    14
17    14
18     6
19    15
20    12
21     6
22    10
23    15
24    12
25    15
26     8
27     6
28    15
29     5
dtype: int64
0     14
1      5
2     10
3     10
4     10
5     15
6     11
7      5
8     12
9      5
10     9
11     6
12     8
13    15
14    14
dtype: int64
0      5
1     14
2     14
3      6
4     15
5     12
6      6
7     10
8     15
9     12
10    15
11     8
12     6
13    15
14     5
dtype: int64

In [67]:
#1b
novo_array1 = pd.Series([20,21,22,23,24])
novo_array2 = pd.Series([25,26,27,28,29])
serie1 = pd.concat([serie1, novo_array1]).reset_index(drop=True)
serie2 = pd.concat([serie2, novo_array2]).reset_index(drop=True)
print(serie1)
print(serie2)

0     14
1      5
2     10
3     10
4     10
5     15
6     11
7      5
8     12
9      5
10     9
11     6
12     8
13    15
14    14
15    20
16    21
17    22
18    23
19    24
20    20
21    21
22    22
23    23
24    24
25    20
26    21
27    22
28    23
29    24
30    20
31    21
32    22
33    23
34    24
dtype: int64
0      5
1     14
2     14
3      6
4     15
5     12
6      6
7     10
8     15
9     12
10    15
11     8
12     6
13    15
14     5
15    25
16    26
17    27
18    28
19    29
20    25
21    26
22    27
23    28
24    29
25    25
26    26
27    27
28    28
29    29
30    25
31    26
32    27
33    28
34    29
dtype: int64

In [68]:
#1c
print(serie1.value_counts())
print(serie2.value_counts())

20    4
21    4
22    4
23    4
24    4
5     3
10    3
14    2
15    2
11    1
12    1
9     1
6     1
8     1
dtype: int64
15    4
25    4
26    4
27    4
28    4
29    4
6     3
5     2
14    2
12    2
10    1
8     1
dtype: int64

In [79]:
#1d
filtro1 = serie1>serie2
filtro2 = serie1 != serie2
print(serie1[filtro1])
print(serie2[filtro2])

#1e
dataframe1 = pd.concat([serie1,serie2], axis=1)
print(dataframe1)

#1f
dataframe1.rename(columns={0:'Série 1', 1: 'Série 2'}, inplace=True)
print(dataframe1)

0     14
3     10
5     15
6     11
12     8
14    14
dtype: int64
0      5
1     14
2     14
3      6
4     15
5     12
6      6
7     10
8     15
9     12
10    15
11     8
12     6
14     5
15    25
16    26
17    27
18    28
19    29
20    25
21    26
22    27
23    28
24    29
25    25
26    26
27    27
28    28
29    29
30    25
31    26
32    27
33    28
34    29
dtype: int64
     0   1
0   14   5
1    5  14
2   10  14
3   10   6
4   10  15
5   15  12
6   11   6
7    5  10
8   12  15
9    5  12
10   9  15
11   6   8
12   8   6
13  15  15
14  14   5
15  20  25
16  21  26
17  22  27
18  23  28
19  24  29
20  20  25
21  21  26
22  22  27
23  23  28
24  24  29
25  20  25
26  21  26
27  22  27
28  23  28
29  24  29
30  20  25
31  21  26
32  22  27
33  23  28
34  24  29
    Série 1  Série 2
0        14        5
1         5       14
2        10       14
3        10        6
4        10       15
5        15       12
6        11        6
7         5       10
8        12       15
9         5       12
10        9       15
11        6        8
12        8        6
13       15       15
14       14        5
15       20       25
16       21       26
17       22       27
18       23       28
19       24       29
20       20       25
21       21       26
22       22       27
23       23       28
24       24       29
25       20       25
26       21       26
27       22       27
28       23       28
29       24       29
30       20       25
31       21       26
32       22       27
33       23       28
34       24       29

2. Carregue o dataset da url (https://www.kaggle.com/datasets/andrewmvd/global-monkeypox-cases)

    2a. Explore seu dataframe

    2b. Faça uma lista com todas as colunas disponíveis 

    2c. Veja todos os paises que tem no dataframe

    2d. Faça um groupby pais e veja quantos casos tem cada pais, gere um novo df com essa informação
    
    2e. Faça um groupby por status e pais e veja quantos casos confirmados tem por pais

In [28]:
import pandas as pd
#2
monkey_df = pd.read_csv('monkeypox_df.csv', sep=',')

#2a
print(monkey_df.info())

#2b
lista_cols = list(monkey_df.columns)
print(lista_cols)

#2c
lista_paises = list(monkey_df['Country'].unique())
print(lista_paises)
# lista_paises_alt = list(monkey_df['Country'].drop_duplicates())
# print(lista_paises_alt)

#2d
pd.set_option('display.max_rows', None )
groupby_paises = monkey_df.groupby(['Country']).size().reset_index()
print(groupby_paises)

#2e
groupby_status_paises = monkey_df.groupby(['Status', 'Country']).size().reset_index()
groupby_status_paises = groupby_status_paises[groupby_status_paises.Status == 'confirmed']
print(groupby_status_paises)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       6499 non-null   float64
 1   Status                   6499 non-null   object
 2   Location                 3775 non-null   object
 3   City                     655 non-null    object
 4   Country                  6499 non-null   object
 5   Age                      1212 non-null   object
 6   Gender                   1145 non-null   object
 7   Date_onset               29 non-null     object
 8   Date_confirmation        6108 non-null   object
 9   Symptoms                 136 non-null    object
 10  Hospitalised (Y/N/NA)    180 non-null    object
 11  Date_hospitalisation     20 non-null     object
 12  Isolated (Y/N/NA)        251 non-null    object
 13  Date_isolation           14 non-null     object
 14  Outcome                  1 non-null      object
 15  Contact_comment          58 non-null     object
 16  Contact_ID               13 non-null     float64
 17  Contact_location         6 non-null      object
 18  Travel_history (Y/N/NA)  226 non-null    object
 19  Travel_history_entry     21 non-null     object
 20  Travel_history_start     5 non-null      object
 21  Travel_history_location  58 non-null     object
 22  Travel_history_country   55 non-null     object
 23  Genomics_Metadata        24 non-null     object
 24  Confirmation_method      96 non-null     object
 25  Source                   6499 non-null   object
 26  Source_II                1784 non-null   object
 27  Date_entry               6498 non-null   object
 28  Date_last_modified       6498 non-null   object
 29  Source_III               243 non-null    object
 30  Source_IV                38 non-null     object
 31  Country_ISO3             6498 non-null   object
dtypes: float64(2), object(30)
memory usage: 1.6+ MB
None
['ID', 'Status', 'Location', 'City', 'Country', 'Age', 'Gender', 'Date_onset', 'Date_confirmation', 'Symptoms', 'Hospitalised (Y/N/NA)', 'Date_hospitalisation', 'Isolated (Y/N/NA)', 'Date_isolation', 'Outcome', 'Contact_comment', 'Contact_ID', 'Contact_location', 'Travel_history (Y/N/NA)', 'Travel_history_entry', 'Travel_history_start', 'Travel_history_location', 'Travel_history_country', 'Genomics_Metadata', 'Confirmation_method', 'Source', 'Source_II', 'Date_entry', 'Date_last_modified', 'Source_III', 'Source_IV', 'Country_ISO3']
['England', 'Portugal', 'Spain', 'United States', 'Canada', 'Sweden', 'Italy', 'France', 'Belgium', 'Australia', 'Germany', 'Netherlands', 'Israel', 'Switzerland', 'Greece', 'Austria', 'Argentina', 'Denmark', 'Morocco', 'Slovenia', 'Scotland', 'Czech Republic', 'United Arab Emirates', 'Finland', 'Wales', 'Northern Ireland', 'Sudan', 'Bolivia', 'Iran', 'Ecuador', 'Malta', 'Ireland', 'Mexico', 'Pakistan', 'French Guiana', 'Thailand', 'Peru', 'Brazil', 'Malaysia', 'Hungary', 'Norway', 'Paraguay', 'Costa Rica', 'Gibraltar', 'Mauritius', 'Haiti', 'Uruguay', 'Latvia', nan, 'Cayman Islands', 'Kosovo', 'Turkey', 'Bahamas', 'Ghana', 'India', 'Iceland', 'Poland', 'Bangladesh', 'Uganda', 'Cambodia', 'Malawi', 'Venezuela', 'Romania', 'Georgia', 'Slovakia', 'Luxembourg', 'Nepal', 'Chile', 'Serbia', 'Lebanon', 'South Korea', 'Singapore', 'South Africa', 'Taiwan', 'Colombia', 'Croatia', 'Bulgaria', 'Somalia', 'Zambia', 'Fiji', 'Benin', 'Estonia', 'Puerto Rico']
                 Country     0
0              Argentina     8
1              Australia    14
2                Austria    37
3                Bahamas     1
4             Bangladesh     1
5                Belgium   117
6                  Benin     3
7                Bolivia     3
8                 Brazil    74
9               Bulgaria     3
10              Cambodia    11
11                Canada   362
12        Cayman Islands     1
13                 Chile     7
14              Colombia     3
15            Costa Rica     1
16               Croatia     1
17        Czech Republic     8
18               Denmark    18
19               Ecuador     2
20               England  1185
21               Estonia     1
22                  Fiji     1
23               Finland     4
24                France   499
25         French Guiana     2
26               Georgia     1
27               Germany  1054
28                 Ghana    18
29             Gibraltar     1
30                Greece     4
31                 Haiti     1
32               Hungary    19
33               Iceland     4
34                 India     1
35                  Iran     6
36               Ireland    39
37                Israel    44
38                 Italy   201
39                Kosovo     1
40                Latvia     2
41               Lebanon     1
42            Luxembourg     3
43                Malawi     1
44              Malaysia     3
45                 Malta     4
46             Mauritius     3
47                Mexico    12
48               Morocco     4
49                 Nepal     1
50           Netherlands   257
51      Northern Ireland     6
52                Norway    17
53              Pakistan     1
54              Paraguay     1
55                  Peru     4
56                Poland    12
57              Portugal   402
58           Puerto Rico     1
59               Romania    11
60              Scotland    34
61                Serbia     1
62             Singapore     1
63              Slovakia     1
64              Slovenia     9
65               Somalia     3
66          South Africa     2
67           South Korea     2
68                 Spain  1382
69                 Sudan     1
70                Sweden    28
71           Switzerland    83
72                Taiwan     1
73              Thailand     9
74                Turkey     5
75                Uganda     6
76  United Arab Emirates    13
77         United States   395
78               Uruguay     4
79             Venezuela     1
80                 Wales    10
81                Zambia     1
       Status               Country     0
0   confirmed             Argentina     6
1   confirmed             Australia    12
2   confirmed               Austria    37
3   confirmed               Belgium   117
4   confirmed                 Benin     3
5   confirmed                Brazil    37
6   confirmed              Bulgaria     3
7   confirmed                Canada   287
8   confirmed                 Chile     6
9   confirmed              Colombia     3
10  confirmed               Croatia     1
11  confirmed        Czech Republic     8
12  confirmed               Denmark    18
13  confirmed               England  1185
14  confirmed               Estonia     1
15  confirmed               Finland     4
16  confirmed                France   498
17  confirmed               Georgia     1
18  confirmed               Germany  1054
19  confirmed                 Ghana    18
20  confirmed             Gibraltar     1
21  confirmed                Greece     3
22  confirmed               Hungary    19
23  confirmed               Iceland     4
24  confirmed               Ireland    39
25  confirmed                Israel    42
26  confirmed                 Italy   192
27  confirmed                Latvia     2
28  confirmed               Lebanon     1
29  confirmed            Luxembourg     3
30  confirmed                 Malta     4
31  confirmed                Mexico    11
32  confirmed               Morocco     1
33  confirmed           Netherlands   257
34  confirmed      Northern Ireland     6
35  confirmed                Norway    17
36  confirmed                  Peru     3
37  confirmed                Poland    12
38  confirmed              Portugal   402
39  confirmed           Puerto Rico     1
40  confirmed               Romania    11
41  confirmed              Scotland    34
42  confirmed                Serbia     1
43  confirmed             Singapore     1
44  confirmed              Slovenia     9
45  confirmed          South Africa     2
46  confirmed           South Korea     1
47  confirmed                 Spain  1196
48  confirmed                Sweden    28
49  confirmed           Switzerland    83
50  confirmed                Taiwan     1
51  confirmed                Turkey     1
52  confirmed  United Arab Emirates    13
53  confirmed         United States   395
54  confirmed             Venezuela     1
55  confirmed                 Wales    10

3. Opcional(vamos discutir em aula)

    3a. O que vocês fariam com a coluna Idade?
    
    3b. Faça o tratamento de acordo com a sua linha de pensamento
    
    3c. Esse tratamento que fez é útil (Sim / Não e Por que)?
    
    3d. O que podemos fazer com essa informação para ter um dado mais assertivo?

In [ ]:
#3a -> 1. NaN em colunas vazias; 2. Quebrar ranges em duas colunas (limite inferior/superior);
#3b